body {
    background-color: #292929;
}

#Title {
    color: #c2bebe;
    border: 5px solid #c2bebe;
    text-align: center;
    font-family: cursive;
}

#navbar {
    color: #c2bebe;
    border: 2px solid #c2bebe;
    text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: #c2bebe;
  padding: 14px 16px;
  text-decoration: none;
}

#searchBar {
     float: right;
}
