<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WaifuComics</title>
    <link th:href="@{/index/index.css}" rel="stylesheet" />
</head>
<body>
    <div id="Title">
        <h1>Waifu Comics</h1>
    </div>
    <div id="navbar">
        <ul>
            <li>
                <form action="/">
                    <input type="submit" value="Home" />
                </form>
            </li>
            <li>
                <form action="/about">
                    <input type="submit" value="About" />
                </form>
            </li>
            <input id="searchBar" type="text" placeholder="Search..">
        </ul>
    </div>

</body>
</html>