<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/accountPost/registrationsuccess.css}" rel="stylesheet" />
</head>
<body>
  <div align="center" >
    <h2 style="color:white">Registration Succeeded!</h2>
    <span style="color:white">Username:</span><span style="color:white" th:text="${account.username}"></span><br/>
    <span style="color:white">Password:</span><span style="color:white" th:text="${account.password}"></span><br/>
  </div>
</body>
</html>